[Unit]
Description={{ service_name }} Proxy Server
After=syslog.target network.target

[Service]
Type=forking
User=nobody
Group=nobody
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p {{ pid_dir }}
ExecStartPre=/usr/bin/chown -R nobody:nobody {{ pid_dir }}
ExecStart=/usr/bin/{{ service_name }} {{ config_path }}
ExecReload=kill -SIGUSR1 ${MAINPID}
Restart=on-failure
PIDFile={{ pid_file }}

LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
LimitNPROC=infinity
LimitSIGPENDING=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity

[Install]
WantedBy=multi-user.target
